# .gitignore

# ... other ignored files
env.js
node_modules/
dist/
coverage/
.vscode/
.vscode-test/
# Ignore environment configuration files
.env
.env.local
digitalocean.txt
rkive-docs-dev1-k8s-kubeconfig.yaml
